* {
    margin: 0;
    box-sizing: border-box;
}

input {
    border: 3px solid #FFE6FF;
    width: 200px;
    margin-top: 15px;
}

body {
    background-color: #E8D4D1;
}

button {
    padding: 5px 15px;
    background: transparent;
    border: 2px solid #FFE6FF;
    border-radius: 5px;
    cursor: pointer;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beer_card_container {
    width: 300px;
    border: 5px solid #FFEDE6;
    border-radius: 10px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.img_beer {
    width: auto;
    height: 230px;
}

.beer_container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.img_beer_page {
    width: auto;
    height: 300px;
}

.beer_page_mid {
    margin: 20px;
}

.beer_page_bot {
margin: 10px;
max-width: 600px;
margin: auto;
border-radius: 20px;
background-color: #FFEDE6;
}

p {
    padding: 8px;
    line-height: 30px;
}

.p {
    line-height: 30px;
}


.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.page_current {
    background-color: green;
}


.box {
    max-width: 800px;
    width: 100%;
}

.mb {
    margin-bottom: 25px;
}

